@font-face{
     font-family: "invinc";
     src: url("/ShadowofXizor.woff2") format("woff2");
}

@font-face{
     font-family: "subtext";
     src: url("/Anton-Regular.woff2") format("woff2");
}

html,body,#app
{
     height:100%;
}

body{
     overflow: hidden;
     margin: 0;
     background-color: #b51616;
}

/*all elements children of app are centered using this rule*/
#app>*{
     margin: auto;
}

div{
     background-color: inherit;
}


#playingField.standard{
     font-family: subtext;
     align-content: center;
     aspect-ratio: 1 / 1;
     width:100%;
     max-width: 500px;
     display: grid;
     grid-template-columns: 100%;
}

#playingField.rendering{
     font-family: subtext;
     align-content: center;
     aspect-ratio: auto;
     max-width: 1036px;
     width:1036px;
     height:1036px;
     margin:0px;
}

#renderableDiv1{
     display: flex;
     justify-content: center;
     flex-direction: column;
}

#renderableDiv2{
     top:100px;
     left:100px;
}

img{
     max-width: 100%;
     max-height: 100%;
     visibility: visible;

}

#displayScreen{
     top:0px;
     height: 100%;
     width:100%;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.5);
     flex-direction: column;
     button{
          align-self: flex-end;
          width: fit-content;
     }
}

.close{
     display: none;
}

.open{
     display: flex;
}


#frame{
     display: flex;
     flex-direction: column;
     background-color: none;
     align-self: center;
     max-width: 50%;
     aspect-ratio: 320 / 259;
     align-items: center;
     background-color: unset;
}

p{
     font-family: invinc;
     color: lightYellow;
     font-size: 30px;
     text-align: center;
}

svg{
     overflow: visible;
     transform: matrix3d(1, 0, 0, 0, 0, 1, -2, -0.000382384, 0, 0, 3.8, -0.000546101, 0, 0, 0, 1);
     transform-style: preserve-3d;
     text{
          fill: #fcfcf1;
     }

}

span{
     display:block;
     text-align: center;
     background-color: blue;
}

canvas{
     display: none;
}
